.opacity-layout {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.target-form-holder {
    background: #ffffff;
    padding: 20px;
    border-radius: 5px;
}

#target-form-finish{
    display: none;
}

#target-form-finish.show-finish{
    display: block;
}