<div class="opacity-layout">
    <div class="target-form-holder">
        <span class="close">&times;</span>
        <form [formGroup]="form" id="target-form" (submit)="onSubmit()">
            <div class="target-form-input-holder">
                <input list="target-names" formControlName="targetName" placeholder="Target name">
                <datalist id="target-names">
                    <option *ngFor="let option of options" value="{{option}}"></option>
                </datalist>
                <p class="form-error" *ngIf="isInvalid('targetName')">Please fill form correctly</p>
            </div>

            <div class="target-form-input-holder">
                <textarea id="target-description" cols="30" rows="10" formControlName="targetDescription" placeholder="Target Description"></textarea>
                <p class="form-error" *ngIf="isInvalid('targetDescription')">Please fill form correctly</p>
            </div>

            <div class="target-form-input-holder">
                <img class="previewTargetImage" *ngFor="let imageAsUrl of previewTargetImages" [src]="imageAsUrl" alt="">
            </div>

            <div class="target-form-input-holder">
                <input #targetImage type="file" id="target-image" name="target-image" (change)="onImagePicked($event)" multiple>
            </div>

            <div class="target-form-input-holder" id="buttons-holder">
                <button class="target-form-button" (click)="onClickPrev()" type="button">Prev</button>
                <button class="target-form-button" #next (click)="onClickNext()" type="submit">Next</button>
                <button class="target-form-button" id="target-form-finish" [ngClass]="currentElIndex === formElements.length - 1 ? 'show-finish' : ''" (click)="onClickFinish()" type="submit">Finish</button>
            </div>
        </form>
    </div>
</div>
