.opacity-layout {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.target-form-holder {
    background: #ffffff;
    padding: 30px;
    border-radius: 5px;
    width: 95%;
    max-width: 400px;
    position: relative;
}

#target-form-finish{
    display: none;
}

#target-form-finish.show-finish{
    display: block;
}

.previewTargetImage{
    width: 33%;
    height: 85px;
}

#target-form input,
#target-form select,
#target-form textarea {
    width: 100%;
    outline: none;
    border-radius: 3px;
    border: 1px solid darkgrey;
    padding: 8px 15px;
    font-size: 1.6rem;
}

.form-error {
    font-size: 1.6rem;
}

.target-form-input-holder:not(:first-of-type) {
    margin-top: 15px;
}

.target-form-button {
    border: none;
    background: darkblue;
    color: #ffffff;
    font-weight: bold;
    font-size: 2rem;
    padding: 8px 15px;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
}

.target-form-button:hover{
    opacity: .9;
}

.form-error {
    font-size: 1.6rem;
    margin: 5px 0;
    color: mediumvioletred;
}

#target-form-image-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.target-form-button {
    width: 100%;
}

.close {
    font-size: 2.5rem;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    width: 30px;
    text-align: center;
    height: 30px;
    display: inline-block;
}