<agm-map
        [latitude]="initLat"
        [longitude]="initLng"
        [zoom]="zoom"
        [disableDefaultUI]="false"
        [zoomControl]="false"
        [fullscreenControl]="true"
        (mapClick)="onMapClicked($event)">
    <agm-marker
            *ngFor="let marker of markers; let i = index"
            [latitude]="marker.lat"
            [longitude]="marker.lng"
            [markerDraggable]="false"
            (markerClick)="onClickMarker()"
            (mouseOver)="onHoverMarker($event, i)"
            (mouseOut)="onMouseOut($event, i)"
            (dragEnd)="onMarkerDragEnd($event, i)">
        <agm-info-window>
            <p><strong>Marker name</strong></p>
            <p>
                <span>
                  <img [src]="" style="max-width: 50px;">
                </span>
            </p>
            <a class="deleteMarker" (click)="onDeleteMarker(i)">Delete</a>
        </agm-info-window>
    </agm-marker>
    <agm-circle-custom
            *ngFor="let mark of markers; let j = index"
            (radiusChange)="onRadiusChange($event, j)"
            (centerChange)="onCenterChange($event, j)"
            (dragStart)="onDragStart($event, j)"
            (dragEnd)="onDragEnd($event, j)"
            [strokeWeight]="0"
            [fillOpacity]="0.1"
            [latitude]="mark.circle.lat"
            [longitude]="mark.circle.lng"
            [radius]="500"
            [fillColor]="'red'"
            [circleDraggable]="true"
            [editable]="true">
    </agm-circle-custom>
</agm-map>
<app-target-form
        [coords]="coordsNewMarker"
        (closeForm)="onCloseForm($event)"
        *ngIf="isShowForm"></app-target-form>
